<!DOCTYPE html>
<html>
<head>
    <title>Active Collections</title>
    <style>
        .image1 {
            width: auto;
            height: auto;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div>
            <% activeCollections.forEach(function(collection) { %>
                <% if (collection.images.length > 0) { %>
                    <% const randomIndex = Math.floor(Math.random() * collection.images.length); %>
                    <% const randomImage = collection.images[randomIndex]; %>
                    <img src="images/<%- randomImage.image %>" alt="<%- collection.collectionName %>" class="image1">
                <% } %>
            <% }) %>
        </div>
    </div>
</body>
</html>
